{{>header}}
<div class="box">
  <div class="first"></div>
  <div id="putHere">
    <h5 id="chose">Расчёт калорий</h5>
    <h6 id="chose">Введите продукт и количество</h6>
    <div class="row">
      <form id="inputForm" class="col s12">
        <div class="row">
          <i class="material-icons prefix">search</i>
          <div class="input-field s6">
            <input id="icon_prefix" name="inputText" type="text" class="validate" placeholder="search">
            <button id="searchButton" class="btn waves-effect light-green darken-3" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="second"></div>
</div>

<script defer src="/js/application.js"></script>
